SQLALCHEMY_DATABASE_URI = 'sqlite:///recruitment.sqlite3'
WTF_CSRF_ENABLED = False
SLACK_TOKEN = ""
SLACK_CHANNEL = ""
HACKEREARTH_SECRET_KEY = ""
MANDRILL_API_KEY = ""
MANDRILL_TEMPLATE_NAME = ""
TRELLO_API_KEY = ""
TRELLO_API_TOKEN = ""
TRELLO_LIST_ID = ""
